*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


:root{
    --text-color: #151515;
    --bg-color: #f2f2f2;
    --main-color: #B9CFE4;

    --h1-font: 4rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}
.logo img{
    height: 70px;
}

.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 22px;
    transition: all .5s ease;
}
.navbar a:hover{
    transform: translateX(-5px);
}
.h-right{
    display: flex;
    align-items: center;
}
.h-right a:first-child{
    color: var(--text-color);
    font: var(--p-font);
    margin-right: 20px;
}
.h-right a{
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
    transition: all .5s ease;
}
.h-right a:hover{
    color: var(--bg-color);
    transform: translateY(-3px);
}
#menu-icon{
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

section{
    padding: 70px 17% 60px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(hero-img.jpg);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home-2{
    position: relative;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(hero-img.jpg);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 200px; /* Adjust based on your navbar height */

}
.home-text h5{
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--main-color);
}
.home-text h1{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    color: var(--bg-color);
    margin-bottom: 20px;
}
.home-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
}
.btn{
    display: inline-block;
    padding: 13px 40px;
    background: var(--main-color);
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    transition: .5s all ease;
    cursor: pointer;
}
.btn:hover{
    transform: translate(10px);
    border: 2px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
}
header.sticky{
    padding: 8px 17px;
}
.tjänster-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    text-align: center;
    gap: 3rem;
}
.row-img{
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.row-img img{
    width: 100%;
    display: block;
    transition: transform 0.7s;
}
.row-img img:hover{
    transform: scale(1.2);
}
.tjänster-content h4{
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s ease;
}
.tjänster-content h4:hover{
    color: var(--main-color);
}
.två{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}
.två-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.två-text h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.två-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}
.två-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: var(--text-color);
    margin-bottom: 35px;
}
.center-text{
    text-align: center;
}
.center-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
}
.tre-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    color: #ffffff;
}
.box{
    position: relative;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all .3s cubic-bezier(0.499, .05, .55,.95);
    will-change: filter;
    display: block;
}
.box h6{
    position: absolute;
    left: 25px;
    bottom: 95px;
    font-size: var(--p-font);
    font-weight: 500;
}
.box h4{
    position: absolute;
    left: 25px;
    bottom: 65px;
    font-size: var(--p-font);
    font-weight: 700;
}
.box img:hover{
    filter: brightness(90%);
    transform: scale(1.04);
    cursor: pointer;
}
.center-btn{
    text-align: center;
    margin-top: 4rem;
}


.fyra{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}
.fyra-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.fyra-text h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.fyra-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}
.fyra-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: var(--text-color);
    margin-bottom: 35px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, auto));
    gap: 2rem;
}
.footer-box{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.footer-box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer-box a{
    color: #979797;
    margin-bottom: 0.8rem;
    transition: all .5s ease;
}
.footer-box a:hover{
    transform: translateX(-5px);
    color: var(--text-color);
}
.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 20px;
    border-radius: 50%;
    margin-right: 8px;
    transition: transform 0.6s;
}
.social a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transform: translateX(-5px);
}

.copyright{
    text-align: center;
    padding: 20px;
    color: #979797;
    font-size: 15px;
}

/* TJÄNSTER SIDA */

.services-header {
    text-align: center;
    margin: 50px 0;
}

.services-header h1 {
    font-size: var(--h1-font);
    font-weight: 800;
    margin-bottom: 20px;
}

.services-header p {
    font-size: var(--p-font);
    color: #ffffffab;
    margin-bottom: 30px;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0 2rem;
}

.service-item {
    text-align: center;
}

.service-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.service-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service-item p {
    font-size: var(--p-font);
    color: #ffffffab;
}

/*OM OSS SIDA*/

.about-header {
    text-align: center;
    margin: 50px 0;
}

.about-header h1 {
    font-size: var(--h1-font);
    font-weight: 800;
    margin-bottom: 20px;
}

.about-header p {
    font-size: var(--p-font);
    color: #ffffffab;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}

.about-text {
    max-width: 800px;
}

.about-text h2 {
    font-size: 1.75rem;
    margin-bottom: 15px;
}

.about-text p {
    font-size: var(--p-font);
    color: var(--text-color);
    margin-bottom: 25px;
}

.about-img img {
    width: 100%;
    height: 350px;
    border-radius: 40%;
}
/* KONTAKTA OSS SIDA*/
.contact {
    padding: 70px 17% 60px;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-top: 200px;
}

.contact-container {
    max-width: 800px;
    margin: 80px auto;
    text-align: center;
}

.contact h2 {
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 20px;
}

.contact p {
    font-size: var(--p-font);
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: var(--p-font);
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: none; /* Prevents resizing of the textarea */
}

.submit-btn {
    padding: 13px 40px;
    background: var(--main-color);
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    transition: .5s all ease;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 5px;
}

.submit-btn:hover {
    transform: translate(10px);
    border: 2px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
}

/*RESPONSIVE DESIGN*/
@media (max-width:1700px){
    header{
        padding: 18px 8px;
    }
    header.sticky{
        padding: 7px 8px;
    }
    section{
        padding: 50px 8% 40px;
    }
}
@media (max-width: 1200px){
    header{
        padding: 14px 5px;
    }
    header.sticky{
        padding: 7px 5px;
    }
    section{
        padding: 45px 8% 35px;
    }
    :root{
        --h1-font: 4.6rem;
        --h2-font: 2.8rem;
        --p-font: 15px;
    }
    .home{
        height: 90vh;
    }
}
@media (max-width: 1050px){
    .tjänster-content{
        gap: 1.5rem;
    }
    .två{
        gap: 3rem;
    }
    .tre{
        gap: 3rem;
    }

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        bottom: 0;
        left: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .5s ease;
    }
    .navbar a{
        display: block;
        color: var(--text-color);
        padding: 0;
        margin: 0px 0px 40px 0px;
        font-size: 2.2rem;
        font-weight: 400;
    }
    .navbar.open{
        left: 0;
    }
}
@media (max-width: 800px){
    .två{
        grid-template-columns: 1fr;
    }
    .två-img, .fyra-img{
        display: none; 
    }
    .tre{
        grid-template-columns: 1fr;
    }

}
@media (max-width: 600px){
    :root{
    --h1-font: 3.5rem;
    --h2-font: 2.1rem;
    }
    .home{
        height: 85vh;
    }
}

@media (max-width: 450px){
    header{
        padding: 12px 3px;
    }
    header.sticky{
        padding: 7px 3px;
    }
    section{
        padding: 60px 5% 50px;
    }
}

.två-img img, .fyra-img img {
    max-width: 100%;  
    height: auto;     
    width: 100%;      
    display: block;   
    margin: 0 auto;   
}



@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr; /* Stacks footer boxes vertically */
        text-align: left; /* Centers the content */
    }

    .footer-box {
        align-items: left;
    }

    .social {
        justify-content: center; /* Centers social icons on smaller screens */
    }

    .footer-box a {
        font-size: 16px; /* Slightly smaller text for smaller screens */
    }
}



/* KONTAKTFORMULÄR DESIGN */
.profil {
    padding: 70px 17% 60px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.profil-container {
    max-width: 800px;
    margin: 80px 0;
    text-align: left;
}

.profil h2 {
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 20px;
}

.profil p {
    font-size: var(--p-font);
    margin-bottom: 30px;
}

.tack{
    display: flex;
    flex-direction: column;  /* Staplar innehållet vertikalt */
    align-items: center;     /* Centrerar innehållet horisontellt */
    justify-content: center;  /* Centrerar innehållet vertikalt */
    height: 100vh;          /* Gör att sektionen tar upp hela höjden av viewporten */
    text-align: center;      /* Centrerar textinnehållet */
}

.btn-tack {
    margin-top: 20px;        /* Lägger till lite avstånd ovanför knappen */
}

.form-working{
    display: none;
}

.audiobook-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 50px 0;
}
.audiobook {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.audiobook h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--text-color);
}

.audiobook .btn {
    display: inline-block;
    padding: 10px 20px;
    color: var(--text-color);
    border-radius: 5px;
}



audio {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.audiobook-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 50px 0;
}

.audiobook {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, height 0.3s ease;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.audiobook.expanded {
    height: 350px;
    transform: scale(1.05);
}

.audiobook h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--text-color);
}

.audiobook .btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.audiobook .btn:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

audio {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.audiobook-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 50px 0;
}

.audiobook {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, height 0.3s ease;
    height: 100px; /* Default height */
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.audiobook.expanded {
    height: 150px; /*Ändra sen när man lägger till facit*/
    transform: scale(1.05);
}

.audiobook h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--text-color);
}

.audiobook audio,
.audiobook .btn {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.audiobook.expanded audio,
.audiobook.expanded .btn {
    opacity: 1;
    visibility: visible;
}

.audiobook .btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px;
}

audio {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.audiobook .icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.25rem;
    color: #555;
    transition: transform 0.3s ease;
}

.audiobook.expanded .icon {
    transform: rotate(180deg);


}

/* Initial blur effect on the content */
.blur-layer {
    filter: blur(5px); 
    transition: filter 0.7s ease-in-out; 
    pointer-events: none; 
    opacity: 0.8; 
}

/* When the blur is removed */
.blur-layer.active {
    filter: blur(0);
    pointer-events: all; /* Allow interaction after code is entered */
    opacity: 1; /* Remove transparency */
}

.code-entry {
    margin-bottom: 20px;
}

/* Style for the input and button */
input[type="password"] {
    padding: 10px;
    font-size: 16px;
}

.böcker-button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: none;
}


.material-icons{
    color: black;
    transition: .5s all ease-in-out;

}


/* Initially hide the audio */
.audiobook audio {
    display: none;
    transition: all 0.3s ease-in-out;
}

/* When expanded, display the audio */
.audiobook.expanded audio {
    display: block;
}

.audio-section{
    margin-top: -100px;
}
